# Ignore the local Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ignore bundler config and cache
.bundle/
vendor/bundle

# Ignore temporary files and logs
*.log
*.tmp
*.swp
*.bak

# Ignore Git and other version control files
.git/
.gitignore

# Ignore node modules if you're using npm or Yarn for asset management
node_modules/
yarn.lock
package-lock.json

# Ignore Docker files that shouldn’t be in the container
Dockerfile
.dockerignore
